body {
    display: flex;
    flex-direction: column;
    margin: 0px; 
    height: 100vh;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 8px; 
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 132px;
    padding-top: 16px;
    margin-right: auto;
}

.header_links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    padding: 16px;
    margin-right: 108px;
}

.header_link {
    margin-right: 16px;
}

.title {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 76px;
}

.title_text {
    display: flex;
    flex-direction: column;
    /* height: 180px; */
    width: 350px;
    margin-top: 0px;
    padding-bottom: 32px;
}

.title_image {
    background-color: grey;
    color: #E5E7EB;
    height: 100px; 
    width: 350px;
    padding: 48px;
    margin: 16px 36px 36px 56px; 
    font-size: 12px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.title_header {
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.title_caption {
    font-size: 16px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 10px 10px 10px 0px; 
    align-self: flex-start;
    padding: 6px 24px 6px 24px; 
    border-radius: 6px;
    border-style: none;

}
.information {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.information_title {
    font-size: 36px;
    weight: 800;
    color: #1f2937;
    align-self: center;
    padding: 36px; 
}

.information_container {
    display: flex;

    align-items: center;
}

.information_block {
    display:flex;
    flex-direction: column;
    padding-bottom: 64px;
    margin: 16px;
    width: 150px;
}

.information_img {
    width: 150px;
    height: 150px; 
    border-radius: 10%;
    color: black;
    border: 3px solid #3882F6;;
}

.information_caption {
    margin: auto;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 96px 121px;
    font-size: 36px;
    align-items: center;

}

.actual_quote {
    display: flex;
}

.quote_author {
    align-self: flex-end;
    margin-right: 86px;
}

.sign_up_module {
    display: flex;
    background-color: #3882F6;
    /* margin: 72px 72px 72px 162px;  */
    margin: auto;
    padding: 40px; 
    color: white;
    justify-content: space-around;
    width: 800px;
    align-items: center;
    border-radius: 6px;
}

.sign_up_container {
    display: flex;
    flex-direction: column;
}

.sign_up_header {
    weight: 300;
}

.sign_up_caption {
    weight: 100;
}

.sign_up_button2 {
    border: 2px solid white;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 32px; 
    justify-content: center;
    display: flex;
}